body {
    margin: 0;
    padding: 0;
}

html, body, #oamap {
    height: 100%;
    width: 100vw;
}

svg {
    margin-left: -7px;
    margin-top: -19px;
    overflow: visible;
}

.outerVehicleIcon {
}